/* Inicio Estilos footer */

.footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textWhite);
    width: 100%;
    height: 100px;
    background-color: var(--colorFooter);
    top: 175%;
}


/* Fin Estilos footer */