/* Inicio Estilos navbar */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--colorNavbar);
    color: var(--textWhite);
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 1;
}

.navbar img {
    height: 100px;
    display: block;
    padding: 0.2em;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.navbar a {
    color: var(--textWhite);
    text-decoration: none;
    padding: 1em;
    display: block;
}

.navbar a:hover {
    background-color: var(--colorHover);
    color: var( --colorTextHover);
}


/* Fin Estilos navbar */